@page "/login"
@inject NavigationManager navManager
@inject HttpClient Client
@inject IJSRuntime jsRuntime
@inject DnDPlatform.Frontend.Services.LoginSingletonService loginService
@using System.Net.Http.Json
@using System.Text
@using System.Text.Json
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using DnDPlatform.Frontend.Models.FormModels
@using DnDPlatform.Frontend.Models.ResponseModels

<PageTitle>Login</PageTitle>

<div class="container mt-5 mr-0 mb-5">
    <div class="row mb-4">
        <div class="col">
            <h1 class="display-4 text-primary">Login to Your Account</h1>
        </div>
    </div>

    <div class="row">
        <EditForm Model="@model" OnValidSubmit="@SubmitButton">
            <DataAnnotationsValidator />
            <div class="mb-2">
                <label for="loginUsername">Username</label><br>
                <InputText class="rounded" placeholder="Username" id="loginUsername" @bind-Value="model.Username"/><br>
                <ValidationMessage For="@(() => model.Username)" />
            </div>

            <div class="mb-2">
                <label for="loginPassword">Password</label><br>
                <InputText class="rounded" type="password" placeholder="Password" id="loginPassword" @bind-Value="model.Password"/><br>
                <ValidationMessage For="@(() => model.Password)" />
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" @onclick="CancelButton" class="btn btn-secondary">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private TokenStructure _result = new();
    private LoginModel model = new();

    private async Task SubmitButton() {
        var response = await loginRequest();
        if (response.IsSuccessStatusCode)
        {
            loginService.LoggedIn = !loginService.LoggedIn;
            string responseRaw = await response.Content.ReadAsStringAsync();
            _result = JsonSerializer.Deserialize<TokenStructure>(responseRaw) ?? new TokenStructure();
            await SetToLocalStorage("token", _result.token);
            navManager.NavigateTo("/");  
            StateHasChanged();
        }
    }

    private void CancelButton() {
        navManager.NavigateTo("/");
    }

    private async ValueTask SetToLocalStorage(string key, string value) => await jsRuntime.InvokeVoidAsync("localStorage.setItem", key, value);

    private async Task<HttpResponseMessage> loginRequest() {
        var request = new HttpRequestMessage(HttpMethod.Post, "api/auth/login");
        var postBody = new {username = model.Username, password = model.Password};
        request.Content = new StringContent(JsonSerializer.Serialize(postBody), Encoding.UTF8, "application/json");

        var response = await Client.SendAsync(request);
        return response;
    }  
}