@inherits LayoutComponentBase
@inject HttpClient Client
@inject IJSRuntime jsRuntime
@inject NavigationManager navManager
@using System.Text
@using System.Text.Json
@using DnDPlatform.Frontend.Models.ResponseModels;
@using DnDPlatform.Frontend.Pages
@using DnDPlatform.Frontend.Services
@using Newtonsoft.Json.Schema
@using Newtonsoft.Json.Linq


@if(isLoading)
{
    <p class="vw-100 vh-100">Please Wait...</p>
}
else
{
    <div class="page clickable-hand">

        <div class="sidebar clickable-hand" style="@IconMenuCssClass">
            <NavMenu ShowIconMenu="ToggleIconMenu" />
        </div>

        <main class="clickable-hand">
            @if(!LoginSingletonService.LoggedIn) {
                <div class="top-row px-4">
                    <a href="/register" class="LoginRegisterButton" style="z-index: 1;">Register</a>
                    <a href="/login" class="LoginRegisterButton" style="z-index: 1;">Login</a>
                    <img src="/Photos/TopHeader.png" class="topbar-bg" alt="Tavern Bartop" />
                </div>
            }
            else {
                <div class="top-row px-4">
                    <img src="/Photos/TopHeader.png" class="topbar-bg" alt="Tavern Bartop" />
                    <p class="m-0 helloUser">Hello @LoginSingletonService.MeAccount?.username </p>
                    <button class="logout-button" type="button" @onclick="Logout" aria-label="Logout">Logout</button>
                </div>
            }
            <div class="m-5"></div>
            <article class="px-4 clickable-hand">
                @Body
            </article>
        </main>
    </div>
}


@code 
{
    private bool isLoading;
    public async ValueTask<string?> GetFromLocalStorage(string key, string? defaultValue = null) => await jsRuntime.InvokeAsync<string>("localStorage.getItem", key) ?? defaultValue;
    public async ValueTask<string?> DeleteFromLocalStorage(string key, string? defaultValue = null) => await jsRuntime.InvokeAsync<string>("localStorage.removeItem", key) ?? defaultValue;
    private string? token;
    private bool _iconMenuActive { get; set; }
    private string? IconMenuCssClass => _iconMenuActive ? "width: 80px;" : null;

    protected void ToggleIconMenu(bool iconMenuActive)
    {
        _iconMenuActive = iconMenuActive;
    }
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        token = await GetFromLocalStorage("token");


        if (token != null) {
            var response = await meRequest();
            if (response.IsSuccessStatusCode)
            {
                LoginSingletonService.LoggedIn = true;
                using Stream stream = await response.Content.ReadAsStreamAsync();
                LoginSingletonService.MeAccount = JsonSerializer.Deserialize<MeStructure>(stream)!;

            }
        }
    

        isLoading = false;
    }

    private async Task<HttpResponseMessage> meRequest() {
        var request = new HttpRequestMessage(HttpMethod.Get, "api/me");
        request.Headers.Add("Authorization", $"Bearer {token}");
        var response = await Client.SendAsync(request);

        return response;
    }  

    private async Task Logout() {
        await DeleteFromLocalStorage("token");
        LoginSingletonService.LoggedIn = !LoginSingletonService.LoggedIn;
        navManager.NavigateTo("/login");
        StateHasChanged();
    }

}