@inherits LayoutComponentBase
@inject HttpClient Client
@inject IJSRuntime jsRuntime
@inject DnDPlatform.Frontend.Services.LoginSingletonService loginService
@using System.Text
@using System.Text.Json
@using DnDPlatform.Frontend.Models.Entities;
@using DnDPlatform.Frontend.Pages


<div class="page">
    
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if(!loginService.LoggedIn) {
            <div class="top-row px-4">
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            </div>
        }
        else {
            <div class="top-row px-4">
                <p class="m-0">Hello @me.username </p>
                <button style="background-color: #F7F7F7; border: none;" type="button" @onclick="Logout">
                    Logout
                </button>
            </div>
        }
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code 
{
    public async ValueTask<string?> GetFromLocalStorage(string key, string? defaultValue = null) => await jsRuntime.InvokeAsync<string>("localStorage.getItem", key) ?? defaultValue;
    public async ValueTask<string?> DeleteFromLocalStorage(string key, string? defaultValue = null) => await jsRuntime.InvokeAsync<string>("localStorage.removeItem", key) ?? defaultValue;
    private string? token;
    public MeStructure me = new();

    protected override async Task OnInitializedAsync()
    {
        token = await GetFromLocalStorage("token");

        if (token != null) {
            me = await meRequest();
        }
    }

    private async Task<MeStructure> meRequest() {
        var request = new HttpRequestMessage(HttpMethod.Get, "api/me");
        request.Headers.Add("Authorization", $"Bearer {token}");

        using var response = await Client.SendAsync(request);
        if (response.IsSuccessStatusCode) {
            string responseRaw = await response.Content.ReadAsStringAsync();
            loginService.LoggedIn = true;
            return JsonSerializer.Deserialize<MeStructure>(responseRaw)!;
        }
        return new MeStructure();
    }  

    private async Task Logout() {
        await DeleteFromLocalStorage("token");
        loginService.LoggedIn = !loginService.LoggedIn;
    }
}